<p>
	<%= link_to post.title, post %><br />
	<% if post.content && post.content.length > 200 %>
		<%= (Nokogiri::HTML(post.content).xpath("//text()").to_s).truncate(30) %>
	<% else %>
		<%= Nokogiri::HTML(post.content).xpath("//text()").to_s %>
	<% end %>
</p>