<%= content_for :head, auto_discovery_link_tag(:atom, posts_url(format: "atom")) %>
<% provide(:title, "Posts") %>

<div class="container" id="main-container">

<%= image_tag "member-blogs-header.png", class: "header-txt-image" %>

<%= render @posts %>
<%= will_paginate @posts %>

</div>