<% provide(:title, "Posts") %>

<div class="container" id="main-container">

<%= image_tag "member-blogs-header.png", class: "header-txt-image" %>

<%= will_paginate @posts %>
<%= render @posts %>
<%= will_paginate @posts %>

</div>