<% provide(:title, 'Sites') %>

<div class="container" id="main-container">

<%= image_tag "site-index-header.png", class: "header-txt-image" %>

<%= render @sites %>
<%= will_paginate @sites %>

</div>