<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><%= link_to "Blog Index", sites_path %></li>
				<li><%= link_to "Management", new_site_path %></li>
			</ul>
		</div>
	</div>
</header>